@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* ========================= */
/* 🎨 Theme (Tailwind v4) */
/* ========================= */

@theme {
  /* 🔤 Font */
  --font-sans: "Inter", sans-serif;

  /* 🎨 Primary */
  --color-primary: #6C4EFF;
  --color-primary-light: #8A73FF;
  --color-primary-dark: #4B34CC;

  /* 🎨 Secondary */
  --color-secondary: #00C2FF;
  --color-secondary-light: #5EDBFF;
  --color-secondary-dark: #009ACB;

  /* 🎨 Accent */
  --color-accent: #FF4ECD;
  --color-accent-light: #FF7CDE;
  --color-accent-dark: #CC3EA4;

  /* 🧱 Background */
  --color-background: #F6F5Fb;
  --color-surface: #FFFFFF;

  /* 🔤 Text */
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;

  /* 🧩 Border */
  --color-border: #E2E8F0;
  --color-border-search:#C7C4D7;

  /* ✨ Radius */
  --radius-xl: 16px;
  --radius-2xl: 20px;

  /* 🌫 Shadow */
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.05);

  /* 🌈 Gradients */
  --gradient-primary: linear-gradient(135deg, #6C4EFF, #00C2FF);
  --gradient-accent: linear-gradient(135deg, #6C4EFF, #FF4ECD);
}

/* ========================= */
/* 🌙 Dark Mode Variant */
/* ========================= */

@custom-variant dark (&:where(.dark, .dark *));

/* ========================= */
/* ✨ Custom Utilities */
/* ========================= */

@layer utilities {
  .bg-gradient-primary {
    background: var(--gradient-primary);
  }

  .bg-gradient-accent {
    background: var(--gradient-accent);
  }

  .text-gradient {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .shadow-soft {
    box-shadow: var(--shadow-soft);
  }

  .rounded-xl {
    border-radius: var(--radius-xl);
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}



/* animation in success host page */

@keyframes scaleIn {
  0% {
    transform: scale(0.3) rotate(-180deg);
    opacity: 0;
  }

  70% {
    transform: scale(1.08) rotate(10deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-4px);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.8s ease-out;
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}